body {
    background-image: url('../fondoo.jpg'); /* Cambia esto a la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    padding: 20px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.image-box {
    background-color: #bcc7e680; /* Color de fondo con transparencia */
    border: 2px solid rgba(164, 157, 209, 0.2); /* Borde con transparencia */
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Efecto de difuminado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.image-box:nth-child(1) {
    background-color: rgba(167, 161, 213, 0.318); /* Color de fondo diferente con transparencia */
}

.image-box:nth-child(2) {
    background-color: rgba(128, 107, 203, 0.296); /* Color de fondo diferente con transparencia */
}

.image-box img {
    max-width: 100%;
    border-radius: 10px;
}

.image-box h3 {
    margin: 10px 0 5px;
}

.image-box p {
    margin: 0;
}
.btn-exit {
    padding: 8px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
