* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Imagen.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.Menu {
    width: 340px;
    height: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    position: relative; /* Añadido para posicionar .salir de forma absoluta */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical de los elementos */
    align-items: center; /* Centrado horizontal de los elementos */
}

.Menu h2 {
    font-size: 33px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* Línea divisoria debajo del título */
    padding-bottom: 10px; /* Espacio bajo el título */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Para poner el ícono debajo del texto */
    align-items: center; /* Alineación del ícono y texto en el centro horizontal */
}

.Menu h2 i {
    margin-top: 10px; /* Espacio entre el texto y el ícono */
}

.Menu form {
    text-align: center; /* Para centrar los botones horizontalmente */
    flex: 1; /* Para que los botones ocupen el espacio disponible verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical de los botones */
}

.Menu button {
    margin-bottom: 10px; /* Espacio entre los botones */
    font-size: 12px;
    background: #fff;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: 28px; /* Tamaño del botón */
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 550;
    padding: 0 15px;
    width: 80%; /* Ancho del botón ajustado */
    display: flex;
    align-items: center; /* Centrado vertical del texto */
    justify-content: center; /* Centrado horizontal del texto */
}

.Menu button i {
    margin-right: 5px; /* Espacio entre el ícono y el texto del botón */
}

.insertar button,
.mantenimiento button,
.videos button,
.desarrolladores button {
    width: 100%; /* Ancho del botón */
    flex-basis: 45%;
    margin-bottom: 18px; /* Espacio entre los botones */
}

.salir button {
    position: absolute;
    bottom: 2px; /* Ajustado para que esté en la esquina inferior */
    right: 10px; /* Ajustado para que esté en la esquina derecha */
    font-size: 10px; /* Ajuste del tamaño de fuente */
    width: auto; /* Ancho automático para ajustarse al contenido */
    padding: 5px 5px; /* Espaciado interno del botón */
    border-radius: 30px;
    display: flex;
    align-items: center; /* Centrado vertical del contenido */
}
